# Visual Studio cache
.vs/

# Build outputs for all projects
**/bin/
**/obj/
Debug/
Release/

# User-specific and temp files
*.user
*.suo
*.log
*.tmp
*.txt

# Ignore everything inside logs folders but keep the folder
**/logs/*
!**/logs/.gitkeep

# Ignore everything inside wwwroot folders but keep the folder
**/wwwroot/*
!**/wwwroot/.gitkeep