# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files

# =========================
# Dependencies
# =========================
/node_modules
npm-debug.log
yarn-error.log

# =========================
# Compiled Output & Builds
# =========================
/dist
/tmp
/out-tsc
/bazel-out

# =========================
# Angular & Caching
# =========================
/.angular
.sass-cache/

# =========================
# Testing & Miscellaneous
# =========================
/coverage
/typings
__screenshots__/
/connect.lock
/libpeerconnection.log
testem.log

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs and Editors
# =========================
.idea/
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*