
# Visual Studio cache
.vs/

# Build outputs
bin/
obj/
Debug/
Release/


# User-specific files
*.user
*.suo
*.log
*.tmp
*.txt

WelfareLink/bin/
WelfareLink/obj/
WelfareLinkApi/bin/
WelfareLinkApi/obj/
WelfareLinkApi/wwwroot/*


# But keep the folder itself via .gitkeep
!wwwroot/.gitkeep
!WelfareLink/wwwroot/.gitkeep
!WelfareLinkApi/wwwroot/.gitkeep

