@page
@model WelfareLink.Pages.TestModel
@{
    ViewData["Title"] = "Test Page";
}

<h1>Test Page Works!</h1>
<p>If you can see this, Razor Pages are working correctly.</p>
<p>Current time: @DateTime.Now</p>
